<a href="https://colab.research.google.com/github/jcjimenezb123/ProgramacionPython/blob/master/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Crear un dataframe

In [1]:
import pandas as pd

###Desde un arreglo de numpy

In [2]:
import numpy as np

In [3]:
datos=np.array([[11,12],
               [21,22]])
df=pd.DataFrame(data=datos,
                columns=['Col1','Col2'])
df

   Col1  Col2
0    11    12
1    21    22

###Desde un diccionario

In [13]:
datos={'Products':['Computer','Monitor','Printer','Desk'],
       'Prices':[1500,300,150,250]}
df=pd.DataFrame(datos)
df

   Products  Prices
0  Computer    1500
1   Monitor     300
2   Printer     150
3      Desk     250

In [12]:
datos={'Products':['Computer','Monitor','Printer','Desk'],
       'Prices':[1500,300,150,250]}
df=pd.DataFrame(datos['Prices'],columns=['Prices'],index=datos['Products'])
df

          Prices
Computer    1500
Monitor      300
Printer      150
Desk         250

###Desde un archivo csv

In [3]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

iris = load_iris()

df= pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                 columns= iris['feature_names'] + ['target'])

df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df.to_csv('iris.csv',index=False)
df.to_excel('iris.xlsx',index=False)
df.to_json('iris.json')

In [60]:
conn.close()

In [5]:
import sqlite3
conn=sqlite3.connect('bdd.db')

#cursor = conn.cursor()
#cursor.execute("DROP TABLE iris")
#print("Table dropped... ")
#conn.commit()

df.to_sql('iris',conn,index=False)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [11]:
cursor = conn.cursor()
cursor.execute('Select * from iris')
rows = cursor.fetchall()

for row in rows:
    print(row)

(5.1, 3.5, 1.4, 0.2, 0.0, 'setosa')
(4.9, 3.0, 1.4, 0.2, 0.0, 'setosa')
(4.7, 3.2, 1.3, 0.2, 0.0, 'setosa')
(4.6, 3.1, 1.5, 0.2, 0.0, 'setosa')
(5.0, 3.6, 1.4, 0.2, 0.0, 'setosa')
(5.4, 3.9, 1.7, 0.4, 0.0, 'setosa')
(4.6, 3.4, 1.4, 0.3, 0.0, 'setosa')
(5.0, 3.4, 1.5, 0.2, 0.0, 'setosa')
(4.4, 2.9, 1.4, 0.2, 0.0, 'setosa')
(4.9, 3.1, 1.5, 0.1, 0.0, 'setosa')
(5.4, 3.7, 1.5, 0.2, 0.0, 'setosa')
(4.8, 3.4, 1.6, 0.2, 0.0, 'setosa')
(4.8, 3.0, 1.4, 0.1, 0.0, 'setosa')
(4.3, 3.0, 1.1, 0.1, 0.0, 'setosa')
(5.8, 4.0, 1.2, 0.2, 0.0, 'setosa')
(5.7, 4.4, 1.5, 0.4, 0.0, 'setosa')
(5.4, 3.9, 1.3, 0.4, 0.0, 'setosa')
(5.1, 3.5, 1.4, 0.3, 0.0, 'setosa')
(5.7, 3.8, 1.7, 0.3, 0.0, 'setosa')
(5.1, 3.8, 1.5, 0.3, 0.0, 'setosa')
(5.4, 3.4, 1.7, 0.2, 0.0, 'setosa')
(5.1, 3.7, 1.5, 0.4, 0.0, 'setosa')
(4.6, 3.6, 1.0, 0.2, 0.0, 'setosa')
(5.1, 3.3, 1.7, 0.5, 0.0, 'setosa')
(4.8, 3.4, 1.9, 0.2, 0.0, 'setosa')
(5.0, 3.0, 1.6, 0.2, 0.0, 'setosa')
(5.0, 3.4, 1.6, 0.4, 0.0, 'setosa')
(5.2, 3.5, 1.5, 0.2, 0.0, 'setosa')
(5.2, 3.4, 1.4, 0.2, 0.0, 'setosa')
(4.7, 3.2, 1.6, 0.2, 0.0, 'setosa')
(4.8, 3.1, 1.6, 0.2, 0.0, 'setosa')
(5.4, 3.4, 1.5, 0.4, 0.0, 'setosa')
(5.2, 4.1, 1.5, 0.1, 0.0, 'setosa')
(5.5, 4.2, 1.4, 0.2, 0.0, 'setosa')
(4.9, 3.1, 1.5, 0.2, 0.0, 'setosa')
(5.0, 3.2, 1.2, 0.2, 0.0, 'setosa')
(5.5, 3.5, 1.3, 0.2, 0.0, 'setosa')
(4.9, 3.6, 1.4, 0.1, 0.0, 'setosa')
(4.4, 3.0, 1.3, 0.2, 0.0, 'setosa')
(5.1, 3.4, 1.5, 0.2, 0.0, 'setosa')
(5.0, 3.5, 1.3, 0.3, 0.0, 'setosa')
(4.5, 2.3, 1.3, 0.3, 0.0, 'setosa')
(4.4, 3.2, 1.3, 0.2, 0.0, 'setosa')
(5.0, 3.5, 1.6, 0.6, 0.0, 'setosa')
(5.1, 3.8, 1.9, 0.4, 0.0, 'setosa')
(4.8, 3.0, 1.4, 0.3, 0.0, 'setosa')
(5.1, 3.8, 1.6, 0.2, 0.0, 'setosa')
(4.6, 3.2, 1.4, 0.2, 0.0, 'setosa')
(5.3, 3.7, 1.5, 0.2, 0.0, 'setosa')
(5.0, 3.3, 1.4, 0.2, 0.0, 'setosa')
(7.0, 3.2, 4.7, 1.4, 1.0, 'versicolor')
(6.4, 3.2, 4.5, 1.5, 1.0, 'versicolor')
(6.9, 3.1, 4.9, 1.5, 1.0, 'versicolor')
(5.5, 2.3, 4.0, 1.3, 1.0, 'versicolor')
(6.5, 2.8, 4.6, 1.5, 1.0, 'versicolor')
(5.7, 2.8, 4.5, 1.3, 1.0, 'versicolor')
(6.3, 3.3, 4.7, 1.6, 1.0, 'versicolor')
(4.9, 2.4, 3.3, 1.0, 1.0, 'versicolor')
(6.6, 2.9, 4.6, 1.3, 1.0, 'versicolor')
(5.2, 2.7, 3.9, 1.4, 1.0, 'versicolor')
(5.0, 2.0, 3.5, 1.0, 1.0, 'versicolor')
(5.9, 3.0, 4.2, 1.5, 1.0, 'versicolor')
(6.0, 2.2, 4.0, 1.0, 1.0, 'versicolor')
(6.1, 2.9, 4.7, 1.4, 1.0, 'versicolor')
(5.6, 2.9, 3.6, 1.3, 1.0, 'versicolor')
(6.7, 3.1, 4.4, 1.4, 1.0, 'versicolor')
(5.6, 3.0, 4.5, 1.5, 1.0, 'versicolor')
(5.8, 2.7, 4.1, 1.0, 1.0, 'versicolor')
(6.2, 2.2, 4.5, 1.5, 1.0, 'versicolor')
(5.6, 2.5, 3.9, 1.1, 1.0, 'versicolor')
(5.9, 3.2, 4.8, 1.8, 1.0, 'versicolor')
(6.1, 2.8, 4.0, 1.3, 1.0, 'versicolor')
(6.3, 2.5, 4.9, 1.5, 1.0, 'versicolor')
(6.1, 2.8, 4.7, 1.2, 1.0, 'versicolor')
(6.4, 2.9, 4.3, 1.3, 1.0, 'versicolor')
(6.6, 3.0, 4.4, 1.4, 1.0, 'versicolor')
(6.8, 2.8, 4.8, 1.4, 1.0, 'versicolor')
(6.7, 3.0, 5.0, 1.7, 1.0, 'versicolor')
(6.0, 2.9, 4.5, 1.5, 1.0, 'versicolor')
(5.7, 2.6, 3.5, 1.0, 1.0, 'versicolor')
(5.5, 2.4, 3.8, 1.1, 1.0, 'versicolor')
(5.5, 2.4, 3.7, 1.0, 1.0, 'versicolor')
(5.8, 2.7, 3.9, 1.2, 1.0, 'versicolor')
(6.0, 2.7, 5.1, 1.6, 1.0, 'versicolor')
(5.4, 3.0, 4.5, 1.5, 1.0, 'versicolor')
(6.0, 3.4, 4.5, 1.6, 1.0, 'versicolor')
(6.7, 3.1, 4.7, 1.5, 1.0, 'versicolor')
(6.3, 2.3, 4.4, 1.3, 1.0, 'versicolor')
(5.6, 3.0, 4.1, 1.3, 1.0, 'versicolor')
(5.5, 2.5, 4.0, 1.3, 1.0, 'versicolor')
(5.5, 2.6, 4.4, 1.2, 1.0, 'versicolor')
(6.1, 3.0, 4.6, 1.4, 1.0, 'versicolor')
(5.8, 2.6, 4.0, 1.2, 1.0, 'versicolor')
(5.0, 2.3, 3.3, 1.0, 1.0, 'versicolor')
(5.6, 2.7, 4.2, 1.3, 1.0, 'versicolor')
(5.7, 3.0, 4.2, 1.2, 1.0, 'versicolor')
(5.7, 2.9, 4.2, 1.3, 1.0, 'versicolor')
(6.2, 2.9, 4.3, 1.3, 1.0, 'versicolor')
(5.1, 2.5, 3.0, 1.1, 1.0, 'versicolor')
(5.7, 2.8, 4.1, 1.3, 1.0, 'versicolor')
(6.3, 3.3, 6.0, 2.5, 2.0, 'virginica')
(5.8, 2.7, 5.1, 1.9, 2.0, 'virginica')
(7.1, 3.0, 5.9, 2.1, 2.0, 'virginica')
(6.3, 2.9, 5.6, 1.8, 2.0, 'virginica')
(6.5, 3.0, 5.8, 2.2, 2.0, 'virginica')
(7.6, 3.0, 6.6, 2.1, 2.0, 'virginica')
(4.9, 2.5, 4.5, 1.7, 2.0, 'virginica')
(7.3, 2.9, 6.3, 1.8, 2.0, 'virginica')
(6.7, 2.5, 5.8, 1.8, 2.0, 'virginica')
(7.2, 3.6, 6.1, 2.5, 2.0, 'virginica')
(6.5, 3.2, 5.1, 2.0, 2.0, 'virginica')
(6.4, 2.7, 5.3, 1.9, 2.0, 'virginica')
(6.8, 3.0, 5.5, 2.1, 2.0, 'virginica')
(5.7, 2.5, 5.0, 2.0, 2.0, 'virginica')
(5.8, 2.8, 5.1, 2.4, 2.0, 'virginica')
(6.4, 3.2, 5.3, 2.3, 2.0, 'virginica')
(6.5, 3.0, 5.5, 1.8, 2.0, 'virginica')
(7.7, 3.8, 6.7, 2.2, 2.0, 'virginica')
(7.7, 2.6, 6.9, 2.3, 2.0, 'virginica')
(6.0, 2.2, 5.0, 1.5, 2.0, 'virginica')
(6.9, 3.2, 5.7, 2.3, 2.0, 'virginica')
(5.6, 2.8, 4.9, 2.0, 2.0, 'virginica')
(7.7, 2.8, 6.7, 2.0, 2.0, 'virginica')
(6.3, 2.7, 4.9, 1.8, 2.0, 'virginica')
(6.7, 3.3, 5.7, 2.1, 2.0, 'virginica')
(7.2, 3.2, 6.0, 1.8, 2.0, 'virginica')
(6.2, 2.8, 4.8, 1.8, 2.0, 'virginica')
(6.1, 3.0, 4.9, 1.8, 2.0, 'virginica')
(6.4, 2.8, 5.6, 2.1, 2.0, 'virginica')
(7.2, 3.0, 5.8, 1.6, 2.0, 'virginica')
(7.4, 2.8, 6.1, 1.9, 2.0, 'virginica')
(7.9, 3.8, 6.4, 2.0, 2.0, 'virginica')
(6.4, 2.8, 5.6, 2.2, 2.0, 'virginica')
(6.3, 2.8, 5.1, 1.5, 2.0, 'virginica')
(6.1, 2.6, 5.6, 1.4, 2.0, 'virginica')
(7.7, 3.0, 6.1, 2.3, 2.0, 'virginica')
(6.3, 3.4, 5.6, 2.4, 2.0, 'virginica')
(6.4, 3.1, 5.5, 1.8, 2.0, 'virginica')
(6.0, 3.0, 4.8, 1.8, 2.0, 'virginica')
(6.9, 3.1, 5.4, 2.1, 2.0, 'virginica')
(6.7, 3.1, 5.6, 2.4, 2.0, 'virginica')
(6.9, 3.1, 5.1, 2.3, 2.0, 'virginica')
(5.8, 2.7, 5.1, 1.9, 2.0, 'virginica')
(6.8, 3.2, 5.9, 2.3, 2.0, 'virginica')
(6.7, 3.3, 5.7, 2.5, 2.0, 'virginica')
(6.7, 3.0, 5.2, 2.3, 2.0, 'virginica')
(6.3, 2.5, 5.0, 1.9, 2.0, 'virginica')
(6.5, 3.0, 5.2, 2.0, 2.0, 'virginica')
(6.2, 3.4, 5.4, 2.3, 2.0, 'virginica')
(5.9, 3.0, 5.1, 1.8, 2.0, 'virginica')

In [30]:
df=pd.read_csv('iris.csv')
df

     sepal length (cm)  sepal width (cm)  ...  target    species
0                  5.1               3.5  ...     0.0     setosa
1                  4.9               3.0  ...     0.0     setosa
2                  4.7               3.2  ...     0.0     setosa
3                  4.6               3.1  ...     0.0     setosa
4                  5.0               3.6  ...     0.0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...     2.0  virginica
146                6.3               2.5  ...     2.0  virginica
147                6.5               3.0  ...     2.0  virginica
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[150 rows x 6 columns]

###Desde un archivo Excel

In [33]:
df=pd.read_excel('iris.xlsx') #sheet_name=
df

     sepal length (cm)  sepal width (cm)  ...  target    species
0                  5.1               3.5  ...       0     setosa
1                  4.9               3.0  ...       0     setosa
2                  4.7               3.2  ...       0     setosa
3                  4.6               3.1  ...       0     setosa
4                  5.0               3.6  ...       0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...       2  virginica
146                6.3               2.5  ...       2  virginica
147                6.5               3.0  ...       2  virginica
148                6.2               3.4  ...       2  virginica
149                5.9               3.0  ...       2  virginica

[150 rows x 6 columns]

###Desde una base de datos

In [36]:
import sqlite3
conn=sqlite3.connect('bdd.db')

In [8]:
df=pd.read_sql('Select * from iris',conn)
df

     sepal length (cm)  sepal width (cm)  ...  target    species
0                  5.1               3.5  ...     0.0     setosa
1                  4.9               3.0  ...     0.0     setosa
2                  4.7               3.2  ...     0.0     setosa
3                  4.6               3.1  ...     0.0     setosa
4                  5.0               3.6  ...     0.0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...     2.0  virginica
146                6.3               2.5  ...     2.0  virginica
147                6.5               3.0  ...     2.0  virginica
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[150 rows x 6 columns]

##Desplegar informacion de un dataframe

###Dimension

In [ ]:
df.shape

(183, 5)

In [ ]:
print(df.size)
print(183*5)

915
915

In [ ]:
df.values

array([['Pantitlán', 'Zaragoza', 1320, '1', 'pink'],
       ['Zaragoza', 'Gómez Farías', 762, '1', 'pink'],
       ['Gómez Farías', 'Boulevard Puerto Aéreo', 611, '1', 'pink'],
       ['Boulevard Puerto Aéreo', 'Balbuena', 595, '1', 'pink'],
       ['Balbuena', 'Moctezuma', 703, '1', 'pink'],
       ['Moctezuma', 'San Lázaro', 478, '1', 'pink'],
       ['San Lázaro', 'Candelaria', 866, '1', 'pink'],
       ['Candelaria', 'Merced', 698, '1', 'pink'],
       ['Merced', 'Pino Suárez', 745, '1', 'pink'],
       ['Pino Suárez', 'Isabel la Católica', 382, '1', 'pink'],
       ['Isabel la Católica', 'Salto del Agua', 445, '1', 'pink'],
       ['Salto del Agua', 'Balderas', 458, '1', 'pink'],
       ['Balderas', 'Cuauhtémoc', 409, '1', 'pink'],
       ['Cuauhtémoc', 'Insurgentes', 793, '1', 'pink'],
       ['Insurgentes', 'Sevilla', 645, '1', 'pink'],
       ['Sevilla', 'Chapultepec', 501, '1', 'pink'],
       ['Chapultepec', 'Juanacatlán', 973, '1', 'pink'],
       ['Juanacatlán', 'Tacubaya', 1158, '1', 'pink'],
       ['Tacubaya', 'Observatorio', 1262, '1', 'pink'],
       ['Cuatro Caminos', 'Panteones', 1639, '2', 'royalblue'],
       ['Panteones', 'Tacuba', 1416, '2', 'royalblue'],
       ['Tacuba', 'Cuitláhuac', 637, '2', 'royalblue'],
       ['Cuitláhuac', 'Popotla', 620, '2', 'royalblue'],
       ['Popotla', 'Colegio Militar', 462, '2', 'royalblue'],
       ['Colegio Militar', 'Normal', 516, '2', 'royalblue'],
       ['Normal', 'San Cosme', 657, '2', 'royalblue'],
       ['San Cosme', 'Revolución', 537, '2', 'royalblue'],
       ['Revolución', 'Hidalgo', 587, '2', 'royalblue'],
       ['Hidalgo', 'Bellas Artes', 447, '2', 'royalblue'],
       ['Bellas Artes', 'Allende', 387, '2', 'royalblue'],
       ['Allende', 'Zócalo', 602, '2', 'royalblue'],
       ['Zócalo', 'Pino Suárez', 745, '2', 'royalblue'],
       ['Pino Suárez', 'San Antonio Abad', 817, '2', 'royalblue'],
       ['San Antonio Abad', 'Chabacano', 642, '2', 'royalblue'],
       ['Chabacano', 'Viaducto', 774, '2', 'royalblue'],
       ['Viaducto', 'Xola', 490, '2', 'royalblue'],
       ['Xola', 'Villa de Cortés', 698, '2', 'royalblue'],
       ['Villa de Cortés', 'Nativitas', 750, '2', 'royalblue'],
       ['Nativitas', 'Portales', 924, '2', 'royalblue'],
       ['Portales', 'Ermita', 748, '2', 'royalblue'],
       ['Ermita', 'General Anaya', 838, '2', 'royalblue'],
       ['General Anaya', 'Tasqueña', 1330, '2', 'royalblue'],
       ['Indios Verdes', 'Deportivo 18 de Marzo', 1166, '3', 'olive'],
       ['Deportivo 18 de Marzo', 'Potrero', 966, '3', 'olive'],
       ['Potrero', 'La Raza', 1106, '3', 'olive'],
       ['La Raza', 'Tlatelolco', 1445, '3', 'olive'],
       ['Tlatelolco', 'Guerrero', 1042, '3', 'olive'],
       ['Guerrero', 'Hidalgo', 702, '3', 'olive'],
       ['Hidalgo', 'Juárez', 251, '3', 'olive'],
       ['Juárez', 'Balderas', 659, '3', 'olive'],
       ['Balderas', 'Niños Héroes', 665, '3', 'olive'],
       ['Niños Héroes', 'Hospital General', 559, '3', 'olive'],
       ['Hospital General', 'Centro Médico', 653, '3', 'olive'],
       ['Centro Médico', 'Etiopía/Plaza de la Transparencia', 1119, '3',
        'olive'],
       ['Etiopía/Plaza de la Transparencia', 'Eugenia', 950, '3',
        'olive'],
       ['Eugenia', 'División del norte', 715, '3', 'olive'],
       ['División del Norte', 'Zapata', 794, '3', 'olive'],
       ['Zapata', 'Coyoacán', 1153, '3', 'olive'],
       ['Coyoacán', 'Viveros/Derechos Humanos', 908, '3', 'olive'],
       ['Viveros/Derechos Humanos', 'Miguel Ángel de Quevedo', 824, '3',
        'olive'],
       ['Miguel Ángel de Quevedo', 'Copilco', 1295, '3', 'olive'],
       ['Copilco', 'Universidad', 1306, '3', 'olive'],
       ['Santa Anita', 'Jamaica', 758, '4', 'darkturquoise'],
       ['Jamaica', 'Fray Servando', 1033, '4', 'darkturquoise'],
       ['Fray Servando', 'Candelaria', 633, '4', 'darkturquoise'],
       ['Candelaria', 'Morelos', 1062, '4', 'darkturquoise'],
       ['Morelos', 'Canal del Norte', 910, '4', 'darkturquoise'],
       ['Canal del Norte', 'Consulado', 884, '4', 'darkturquoise'],
       ['Consulado', 'Bondojito', 645, '4', 'darkturquoise'],
       ['Bondojito', 'Talismán', 959, '4', 'darkturquoise'],
       ['Talismán', 'Martín Carrera', 1129, '4', 'darkturquoise'],
       ['Politécnico', 'Instituto del Petróleo', 1188, '5', 'gold'],
       ['Instituto del Petróleo', 'Autobuses del Norte', 1067, '5',
        'gold'],
       ['Autobuses del Norte', 'La Raza', 975, '5', 'gold'],
       ['La Raza', 'Misterios', 892, '5', 'gold'],
       ['Misterios', 'Valle Gómez', 969, '5', 'gold'],
       ['Valle Gómez', 'Consulado', 679, '5', 'gold'],
       ['Consulado', 'Eduardo Molina', 815, '5', 'gold'],
       ['Eduardo Molina', 'Aragón', 860, '5', 'gold'],
       ['Aragón', 'Oceanía', 1219, '5', 'gold'],
       ['Oceanía', 'Terminal Aérea', 1174, '5', 'gold'],
       ['Terminal Aérea', 'Hangares', 1153, '5', 'gold'],
       ['Hangares', 'Pantitlán', 1644, '5', 'gold'],
       ['El Rosario', 'Tezozómoc', 1257, '6', 'crimson'],
       ['Tezozómoc', 'Azcapotzalco', 973, '6', 'crimson'],
       ['Azcapotzalco', 'Ferrería', 1173, '6', 'crimson'],
       ['Ferrería', 'Norte 45', 1072, '6', 'crimson'],
       ['Norte 45', 'Vallejo', 660, '6', 'crimson'],
       ['Vallejo', 'Instituto del Petróleo', 755, '6', 'crimson'],
       ['Instituto del Petróleo', 'Lindavista', 1258, '6', 'crimson'],
       ['Lindavista', 'Deportivo 18 de Marzo', 1075, '6', 'crimson'],
       ['Deportivo 18 de Marzo', 'La Villa - Basílica', 570, '6',
        'crimson'],
       ['La Villa - Basílica', 'Martín Carrera', 1141, '6', 'crimson'],
       ['El Rosario', 'Aquíles Serdán', 1615, '7', 'coral'],
       ['Aquíles Serdán', 'Camarones', 1402, '7', 'coral'],
       ['Camarones', 'Refinería', 952, '7', 'coral'],
       ['Refinería', 'Tacuba', 1295, '7', 'coral'],
       ['Tacuba', 'San Joaquín', 1433, '7', 'coral'],
       ['San Joaquín', 'Polanco', 1163, '7', 'coral'],
       ['Polanco', 'Auditorio', 812, '7', 'coral'],
       ['Auditorio', 'Constituyentes', 1430, '7', 'coral'],
       ['Constituyentes', 'Tacubaya', 1005, '7', 'coral'],
       ['Tacubaya', 'San Pedro de los Pinos', 1084, '7', 'coral'],
       ['San Pedro de los Pinos', 'San Antonio', 606, '7', 'coral'],
       ['San Antonio', 'Mixcoac', 788, '7', 'coral'],
       ['Mixcoac', 'Barranca del Muerto', 1476, '7', 'coral'],
       ['Garibaldi', 'Bellas Artes', 634, '8', 'seagreen'],
       ['Bellas Artes', 'San Juan de Letrán', 456, '8', 'seagreen'],
       ['San Juan de Letrán', 'Salto del Agua', 292, '8', 'seagreen'],
       ['Salto del Agua', 'Doctores', 564, '8', 'seagreen'],
       ['Doctores', 'Obrera', 761, '8', 'seagreen'],
       ['Obrera', 'Chabacano', 1143, '8', 'seagreen'],
       ['Chabacano', 'La Viga', 843, '8', 'seagreen'],
       ['La Viga', 'Santa Anita', 633, '8', 'seagreen'],
       ['Santa Anita', 'Coyuya', 968, '8', 'seagreen'],
       ['Coyuya', 'Iztacalco', 993, '8', 'seagreen'],
       ['Iztacalco', 'Apatlaco', 910, '8', 'seagreen'],
       ['Apatlaco', 'Aculco', 534, '8', 'seagreen'],
       ['Aculco', 'Escuadrón 201', 789, '8', 'seagreen'],
       ['Escuadrón 201', 'Atlalilco', 1738, '8', 'seagreen'],
       ['Atlalilco', 'Iztapalapa', 732, '8', 'seagreen'],
       ['Iztapalapa', 'Cerro de la Estrella', 717, '8', 'seagreen'],
       ['Cerro de la Estrella', 'UAM I', 1135, '8', 'seagreen'],
       ['UAM I', 'Constitución de 1917', 1137, '8', 'seagreen'],
       ['Pantitlán', 'Puebla', 1380, '9', 'saddlebrown'],
       ['Puebla', 'Ciudad Deportiva', 800, '9', 'saddlebrown'],
       ['Ciudad Deportiva', 'Velódromo', 1110, '9', 'saddlebrown'],
       ['Velódromo', 'Mixiuhca', 821, '9', 'saddlebrown'],
       ['Mixiuhca', 'Jamaica', 942, '9', 'saddlebrown'],
       ['Jamaica', 'Chabacano', 1031, '9', 'saddlebrown'],
       ['Chabacano', 'Lázaro Cardenas', 1000, '9', 'saddlebrown'],
       ['Lázaro Cardenas', 'Centro Médico', 1059, '9', 'saddlebrown'],
       ['Centro Médico', 'Chilpancingo', 1152, '9', 'saddlebrown'],
       ['Chilpancingo', 'Patriotismo', 955, '9', 'saddlebrown'],
       ['Patriotismo', 'Tacubaya', 1133, '9', 'saddlebrown'],
       ['Pantitlán', 'Agrícola Oriental', 1409, 'A', 'darkviolet'],
       ['Agrícola Oriental', 'Canal de San Juan', 1093, 'A',
        'darkviolet'],
       ['Canal de San Juan', 'Tepalcates', 1456, 'A', 'darkviolet'],
       ['Tepalcates', 'Guelatao', 1161, 'A', 'darkviolet'],
       ['Guelatao', 'Peñón Viejo', 2206, 'A', 'darkviolet'],
       ['Peñón Viejo', 'Acatitla', 1379, 'A', 'darkviolet'],
       ['Acatitla', 'Santa Marta', 1100, 'A', 'darkviolet'],
       ['Santa Marta', 'Los Reyes', 1783, 'A', 'darkviolet'],
       ['Los Reyes', 'La Paz', 1956, 'A', 'darkviolet'],
       ['Ciudad Azteca', 'Plaza Aragón', 574, 'B', 'darkgray'],
       ['Plaza Aragón', 'Olímpica', 709, 'B', 'darkgray'],
       ['Olímpica', 'Ecatepec', 596, 'B', 'darkgray'],
       ['Ecatepec', 'Múzquiz', 1485, 'B', 'darkgray'],
       ['Múzquiz', 'Río de los Remedios', 1155, 'B', 'darkgray'],
       ['Río de los Remedios', 'Impulsora', 436, 'B', 'darkgray'],
       ['Impulsora', 'Nezahualcóyotl', 1393, 'B', 'darkgray'],
       ['Nezahualcóyotl', 'Villa de Aragón', 1335, 'B', 'darkgray'],
       ['Villa de Aragón', 'Bosques de Aragón', 784, 'B', 'darkgray'],
       ['Bosques de Aragón', 'Deportivo Oceanía', 1165, 'B', 'darkgray'],
       ['Deportivo Oceanía', 'Oceanía', 863, 'B', 'darkgray'],
       ['Oceanía', 'Romero Rubio', 809, 'B', 'darkgray'],
       ['Romero Rubio', 'Ricardo Flores Magón', 908, 'B', 'darkgray'],
       ['Ricardo Flores Magón', 'San Lázaro', 907, 'B', 'darkgray'],
       ['San Lázaro', 'Morelos', 1296, 'B', 'darkgray'],
       ['Morelos', 'Tepito', 498, 'B', 'darkgray'],
       ['Tepito', 'Lagunilla', 611, 'B', 'darkgray'],
       ['Lagunilla', 'Garibaldi', 474, 'B', 'darkgray'],
       ['Garibaldi', 'Guerrero', 757, 'B', 'darkgray'],
       ['Guerrero', 'Buenavista', 521, 'B', 'darkgray'],
       ['Tláhuac', 'Tlaltenco', 1298, '12', 'goldenrod'],
       ['Tlaltenco', 'Zapotitlán', 1115, '12', 'goldenrod'],
       ['Zapotitlán', 'Nopalera', 1276, '12', 'goldenrod'],
       ['Nopalera', 'Olivos', 1360, '12', 'goldenrod'],
       ['Olivos', 'Tezonco', 490, '12', 'goldenrod'],
       ['Tezonco', 'Periférico Oriente', 1545, '12', 'goldenrod'],
       ['Periférico Oriente', 'Calle 11', 1111, '12', 'goldenrod'],
       ['Calle 11', 'Lomas Estrella', 906, '12', 'goldenrod'],
       ['Lomas Estrella', 'San Andrés Tomatlán', 1060, '12', 'goldenrod'],
       ['San Andrés Tomatlán', 'Culhuacán', 990, '12', 'goldenrod'],
       ['Culhuacán', 'Atlalilco', 1671, '12', 'goldenrod'],
       ['Atlalilco', 'Mexicaltzingo', 1922, '12', 'goldenrod'],
       ['Mexicaltzingo', 'Ermita', 1805, '12', 'goldenrod'],
       ['Ermita', 'Eje Central', 895, '12', 'goldenrod'],
       ['Eje Central', 'Parque de los Venados', 1280, '12', 'goldenrod'],
       ['Parque de los Venados', 'Zapata', 563, '12', 'goldenrod'],
       ['Zapata', 'Hospital 20 de Noviembre', 450, '12', 'goldenrod'],
       ['Hospital 20 de Noviembre', 'Insurgentes Sur', 725, '12',
        'goldenrod'],
       ['Insurgentes Sur', 'Mixcoac', 651, '12', 'goldenrod']],
      dtype=object)

In [ ]:
df.head()

                    Desde                   Hasta  Distancia Linea Color
0               Pantitlán                Zaragoza       1320     1  pink
1                Zaragoza            Gómez Farías        762     1  pink
2            Gómez Farías  Boulevard Puerto Aéreo        611     1  pink
3  Boulevard Puerto Aéreo                Balbuena        595     1  pink
4                Balbuena               Moctezuma        703     1  pink

In [ ]:
df.tail()

                        Desde                     Hasta  ...  Linea      Color
178               Eje Central     Parque de los Venados  ...     12  goldenrod
179     Parque de los Venados                    Zapata  ...     12  goldenrod
180                    Zapata  Hospital 20 de Noviembre  ...     12  goldenrod
181  Hospital 20 de Noviembre           Insurgentes Sur  ...     12  goldenrod
182           Insurgentes Sur                   Mixcoac  ...     12  goldenrod

[5 rows x 5 columns]

###Descripcion

In [ ]:
df.describe()

            index    Distancia
count  183.000000   183.000000
mean    91.000000   942.360656
std     52.971691   357.523381
min      0.000000   251.000000
25%     45.500000   658.000000
50%     91.000000   908.000000
75%    136.500000  1154.000000
max    182.000000  2206.000000

In [ ]:
df['Distancia'].std()

357.52338121282827

In [ ]:
df['Distancia'].sum()

172452.0

In [ ]:
df['Distancia'].mean()

942.360655737705

In [ ]:
df['Distancia'].median()

908.0

###Mostrar columnas

In [ ]:
df.columns

Index(['Desde', 'Hasta', 'Distancia', 'Linea', 'Color'], dtype='object')

In [ ]:
df.columns[[0,1]]

Index(['Desde', 'Hasta'], dtype='object')

In [ ]:
df[['Desde']]

                        Desde
0                   Pantitlán
1                    Zaragoza
2                Gómez Farías
3      Boulevard Puerto Aéreo
4                    Balbuena
..                        ...
178               Eje Central
179     Parque de los Venados
180                    Zapata
181  Hospital 20 de Noviembre
182           Insurgentes Sur

[183 rows x 1 columns]

In [ ]:
df[['Desde','Hasta']]

                        Desde                     Hasta
0                   Pantitlán                  Zaragoza
1                    Zaragoza              Gómez Farías
2                Gómez Farías    Boulevard Puerto Aéreo
3      Boulevard Puerto Aéreo                  Balbuena
4                    Balbuena                 Moctezuma
..                        ...                       ...
178               Eje Central     Parque de los Venados
179     Parque de los Venados                    Zapata
180                    Zapata  Hospital 20 de Noviembre
181  Hospital 20 de Noviembre           Insurgentes Sur
182           Insurgentes Sur                   Mixcoac

[183 rows x 2 columns]

###Filtrar renglones

In [ ]:
df[df['Linea']=='1']

                     Desde                   Hasta  Distancia Linea Color
0                Pantitlán                Zaragoza       1320     1  pink
1                 Zaragoza            Gómez Farías        762     1  pink
2             Gómez Farías  Boulevard Puerto Aéreo        611     1  pink
3   Boulevard Puerto Aéreo                Balbuena        595     1  pink
4                 Balbuena               Moctezuma        703     1  pink
5                Moctezuma              San Lázaro        478     1  pink
6               San Lázaro              Candelaria        866     1  pink
7               Candelaria                  Merced        698     1  pink
8                   Merced             Pino Suárez        745     1  pink
9              Pino Suárez      Isabel la Católica        382     1  pink
10      Isabel la Católica          Salto del Agua        445     1  pink
11          Salto del Agua                Balderas        458     1  pink
12                Balderas              Cuauhtémoc        409     1  pink
13              Cuauhtémoc             Insurgentes        793     1  pink
14             Insurgentes                 Sevilla        645     1  pink
15                 Sevilla             Chapultepec        501     1  pink
16             Chapultepec             Juanacatlán        973     1  pink
17             Juanacatlán                Tacubaya       1158     1  pink
18                Tacubaya            Observatorio       1262     1  pink

In [ ]:
df[(df['Linea']=='1') & (df['Distancia']>1000)]

    index        Desde         Hasta  Distancia Linea Color
17     17  Juanacatlán      Tacubaya     1158.0     1  pink
18     18     Tacubaya  Observatorio     1262.0     1  pink

In [ ]:
df[(df['Linea']=='1') & (df['Distancia']>1000)]['Distancia']

17    1158.0
18    1262.0
Name: Distancia, dtype: float64

In [ ]:
df[(df['Linea']=='1') & (df['Distancia']>1000)]['Distancia'].sum()

2420.0

In [ ]:
df.iloc[0]

Desde        Pantitlán
Hasta         Zaragoza
Distancia         1320
Linea                1
Color             pink
Name: 0, dtype: object

In [ ]:
df.loc[0]

Desde        Pantitlán
Hasta         Zaragoza
Distancia         1320
Linea                1
Color             pink
Name: 0, dtype: object

In [ ]:
df.loc[0:10]

                     Desde                   Hasta  Distancia Linea Color
0                Pantitlán                Zaragoza       1320     1  pink
1                 Zaragoza            Gómez Farías        762     1  pink
2             Gómez Farías  Boulevard Puerto Aéreo        611     1  pink
3   Boulevard Puerto Aéreo                Balbuena        595     1  pink
4                 Balbuena               Moctezuma        703     1  pink
5                Moctezuma              San Lázaro        478     1  pink
6               San Lázaro              Candelaria        866     1  pink
7               Candelaria                  Merced        698     1  pink
8                   Merced             Pino Suárez        745     1  pink
9              Pino Suárez      Isabel la Católica        382     1  pink
10      Isabel la Católica          Salto del Agua        445     1  pink

In [ ]:
df.loc[[7,10,30]]

                 Desde           Hasta  Distancia Linea      Color
7           Candelaria          Merced        698     1       pink
10  Isabel la Católica  Salto del Agua        445     1       pink
30             Allende          Zócalo        602     2  royalblue

###Agregar renglones

In [ ]:
df2=pd.DataFrame([['Vallejo','Price Shoes',300,'PS','blue']],columns=df.columns)
print(df2)
df=df.append(df2)
df.reset_index(inplace=True)
df

     Desde        Hasta  Distancia Linea Color
0  Vallejo  Price Shoes        300    PS  blue

     index                   Desde  ... Linea      Color
0        0               Pantitlán  ...     1       pink
1        1                Zaragoza  ...     1       pink
2        2            Gómez Farías  ...     1       pink
3        3  Boulevard Puerto Aéreo  ...     1       pink
4        4                Balbuena  ...     1       pink
..     ...                     ...  ...   ...        ...
182    182         Insurgentes Sur  ...    12  goldenrod
183      0                 Vallejo  ...    PS       blue
184      0                 Vallejo  ...    PS       blue
185      0                 Vallejo  ...    PS       blue
186      0                 Vallejo  ...    PS       blue

[187 rows x 6 columns]

###Borrar renglones

In [ ]:
index_names=df[df['Linea']=='PS'].index
index_names

Int64Index([0], dtype='int64')

In [ ]:
df.drop(index_names,inplace=True)
df[df['Linea']=='PS']

Empty DataFrame
Columns: [index, Desde, Hasta, Distancia, Linea, Color]
Index: []

###Limpieza de datos nulos

In [ ]:
df2=pd.DataFrame([[0,None,'Price Shoes',None,'PS','blue']],columns=df.columns)
print(df2)
df=df.append(df2)
df

   index Desde        Hasta Distancia Linea Color
0      0  None  Price Shoes      None    PS  blue

     index                     Desde  ... Linea      Color
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
5        5                 Moctezuma  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                      None  ...    PS       blue

[183 rows x 6 columns]

In [ ]:
df.dropna(inplace=True)
df

     index                     Desde  ... Linea      Color
0        0                 Pantitlán  ...     1       pink
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
..     ...                       ...  ...   ...        ...
178    178               Eje Central  ...    12  goldenrod
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod

[183 rows x 6 columns]

###Rellenar valores nulos con un valor por defecto

In [ ]:
df2=pd.DataFrame([[0,'Vallejo','Price Shoes',None,'PS','blue']],columns=df.columns)
print(df2)
df=df.append(df2)
df

   index    Desde        Hasta Distancia Linea Color
0      0  Vallejo  Price Shoes      None    PS  blue

     index                     Desde  ... Linea      Color
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
5        5                 Moctezuma  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                   Vallejo  ...    PS       blue

[183 rows x 6 columns]

In [ ]:
df.fillna(0,inplace=True)
df

     index                     Desde  ... Linea      Color
0        0                 Pantitlán  ...     1       pink
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                   Vallejo  ...    PS       blue

[184 rows x 6 columns]

In [ ]:
df['Distancia'].fillna(0,inplace=True)
df

     index                     Desde  ... Linea      Color
0        0                 Pantitlán  ...     1       pink
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                   Vallejo  ...    PS       blue

[184 rows x 6 columns]

In [ ]:
df['Distancia'].fillna(df['Distancia'].mean(),inplace=True)
df

     index                     Desde  ... Linea      Color
0        0                 Pantitlán  ...     1       pink
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
..     ...                       ...  ...   ...        ...
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                   Vallejo  ...    PS       blue
0        0                   Vallejo  ...    PS       blue

[185 rows x 6 columns]

In [ ]:
df['Distancia'].fillna(df['Distancia'].median(),inplace=True)
df

     index                     Desde  ... Linea      Color
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
5        5                 Moctezuma  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                   Vallejo  ...    PS       blue

[183 rows x 6 columns]

In [ ]:
df['Distancia'].fillna(df['Distancia'].mode(),inplace=True)
df

     index                     Desde  ... Linea      Color
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
5        5                 Moctezuma  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                      None  ...    PS       blue

[183 rows x 6 columns]