<a href="https://colab.research.google.com/github/jcjimenezb123/ProgramacionPython/blob/master/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Crear un dataframe

In [1]:
import pandas as pd

###Desde un arreglo de numpy

In [2]:
import numpy as np

In [3]:
datos=np.array([['','Col1','Col2'],
               ['Reng1',11,12],
               ['Reng2',21,22]])
df=pd.DataFrame(data=datos[1:,1:],
                index=datos[1:,0],
                columns=datos[0,1:])
df

      Col1 Col2
Reng1   11   12
Reng2   21   22

###Desde un diccioanario

In [4]:
my_dict = {'Computer':1500,'Monitor':300,'Printer':150,'Desk':250}
df = pd.DataFrame(list(my_dict.items()),columns = ['Products','Prices'])

df

   Products  Prices
0  Computer    1500
1   Monitor     300
2   Printer     150
3      Desk     250

###Desde un archivo csv

In [59]:
df=pd.read_csv('metro.csv')
df

                        Desde                     Hasta  ...  Linea      Color
0                   Pantitlán                  Zaragoza  ...      1       pink
1                    Zaragoza              Gómez Farías  ...      1       pink
2                Gómez Farías    Boulevard Puerto Aéreo  ...      1       pink
3      Boulevard Puerto Aéreo                  Balbuena  ...      1       pink
4                    Balbuena                 Moctezuma  ...      1       pink
..                        ...                       ...  ...    ...        ...
178               Eje Central     Parque de los Venados  ...     12  goldenrod
179     Parque de los Venados                    Zapata  ...     12  goldenrod
180                    Zapata  Hospital 20 de Noviembre  ...     12  goldenrod
181  Hospital 20 de Noviembre           Insurgentes Sur  ...     12  goldenrod
182           Insurgentes Sur                   Mixcoac  ...     12  goldenrod

[183 rows x 5 columns]

###Desde un archivo Excel

In [9]:
df=pd.read_excel('metro.xlsx',sheet_name='metro')
df

                        Desde                     Hasta  ...  Linea      Color
0                  PantitlÃ¡n                  Zaragoza  ...      1       pink
1                    Zaragoza            GÃ³mez FarÃ­as  ...      1       pink
2              GÃ³mez FarÃ­as   Boulevard Puerto AÃ©reo  ...      1       pink
3     Boulevard Puerto AÃ©reo                  Balbuena  ...      1       pink
4                    Balbuena                 Moctezuma  ...      1       pink
..                        ...                       ...  ...    ...        ...
178               Eje Central     Parque de los Venados  ...     12  goldenrod
179     Parque de los Venados                    Zapata  ...     12  goldenrod
180                    Zapata  Hospital 20 de Noviembre  ...     12  goldenrod
181  Hospital 20 de Noviembre           Insurgentes Sur  ...     12  goldenrod
182           Insurgentes Sur                   Mixcoac  ...     12  goldenrod

[183 rows x 5 columns]

###Desde una base de datos

In [48]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn

In [49]:
conn=create_connection('bdd.db')

In [57]:
df=pd.read_sql('Select * from metro',conn)
df

                        Desde                     Hasta  ...  Linea      Color
0                   Pantitlán                  Zaragoza  ...      1       pink
1                    Zaragoza              Gómez Farías  ...      1       pink
2                Gómez Farías    Boulevard Puerto Aéreo  ...      1       pink
3      Boulevard Puerto Aéreo                  Balbuena  ...      1       pink
4                    Balbuena                 Moctezuma  ...      1       pink
..                        ...                       ...  ...    ...        ...
178               Eje Central     Parque de los Venados  ...     12  goldenrod
179     Parque de los Venados                    Zapata  ...     12  goldenrod
180                    Zapata  Hospital 20 de Noviembre  ...     12  goldenrod
181  Hospital 20 de Noviembre           Insurgentes Sur  ...     12  goldenrod
182           Insurgentes Sur                   Mixcoac  ...     12  goldenrod

[183 rows x 5 columns]

##Desplegar informacion de un dataframe

###Dimension

In [16]:
df.shape

(183, 5)

In [23]:
print(df.size)
print(183*5)

915
915

In [24]:
df.values

array([['Pantitlán', 'Zaragoza', 1320, '1', 'pink'],
       ['Zaragoza', 'Gómez Farías', 762, '1', 'pink'],
       ['Gómez Farías', 'Boulevard Puerto Aéreo', 611, '1', 'pink'],
       ['Boulevard Puerto Aéreo', 'Balbuena', 595, '1', 'pink'],
       ['Balbuena', 'Moctezuma', 703, '1', 'pink'],
       ['Moctezuma', 'San Lázaro', 478, '1', 'pink'],
       ['San Lázaro', 'Candelaria', 866, '1', 'pink'],
       ['Candelaria', 'Merced', 698, '1', 'pink'],
       ['Merced', 'Pino Suárez', 745, '1', 'pink'],
       ['Pino Suárez', 'Isabel la Católica', 382, '1', 'pink'],
       ['Isabel la Católica', 'Salto del Agua', 445, '1', 'pink'],
       ['Salto del Agua', 'Balderas', 458, '1', 'pink'],
       ['Balderas', 'Cuauhtémoc', 409, '1', 'pink'],
       ['Cuauhtémoc', 'Insurgentes', 793, '1', 'pink'],
       ['Insurgentes', 'Sevilla', 645, '1', 'pink'],
       ['Sevilla', 'Chapultepec', 501, '1', 'pink'],
       ['Chapultepec', 'Juanacatlán', 973, '1', 'pink'],
       ['Juanacatlán', 'Tacubaya', 1158, '1', 'pink'],
       ['Tacubaya', 'Observatorio', 1262, '1', 'pink'],
       ['Cuatro Caminos', 'Panteones', 1639, '2', 'royalblue'],
       ['Panteones', 'Tacuba', 1416, '2', 'royalblue'],
       ['Tacuba', 'Cuitláhuac', 637, '2', 'royalblue'],
       ['Cuitláhuac', 'Popotla', 620, '2', 'royalblue'],
       ['Popotla', 'Colegio Militar', 462, '2', 'royalblue'],
       ['Colegio Militar', 'Normal', 516, '2', 'royalblue'],
       ['Normal', 'San Cosme', 657, '2', 'royalblue'],
       ['San Cosme', 'Revolución', 537, '2', 'royalblue'],
       ['Revolución', 'Hidalgo', 587, '2', 'royalblue'],
       ['Hidalgo', 'Bellas Artes', 447, '2', 'royalblue'],
       ['Bellas Artes', 'Allende', 387, '2', 'royalblue'],
       ['Allende', 'Zócalo', 602, '2', 'royalblue'],
       ['Zócalo', 'Pino Suárez', 745, '2', 'royalblue'],
       ['Pino Suárez', 'San Antonio Abad', 817, '2', 'royalblue'],
       ['San Antonio Abad', 'Chabacano', 642, '2', 'royalblue'],
       ['Chabacano', 'Viaducto', 774, '2', 'royalblue'],
       ['Viaducto', 'Xola', 490, '2', 'royalblue'],
       ['Xola', 'Villa de Cortés', 698, '2', 'royalblue'],
       ['Villa de Cortés', 'Nativitas', 750, '2', 'royalblue'],
       ['Nativitas', 'Portales', 924, '2', 'royalblue'],
       ['Portales', 'Ermita', 748, '2', 'royalblue'],
       ['Ermita', 'General Anaya', 838, '2', 'royalblue'],
       ['General Anaya', 'Tasqueña', 1330, '2', 'royalblue'],
       ['Indios Verdes', 'Deportivo 18 de Marzo', 1166, '3', 'olive'],
       ['Deportivo 18 de Marzo', 'Potrero', 966, '3', 'olive'],
       ['Potrero', 'La Raza', 1106, '3', 'olive'],
       ['La Raza', 'Tlatelolco', 1445, '3', 'olive'],
       ['Tlatelolco', 'Guerrero', 1042, '3', 'olive'],
       ['Guerrero', 'Hidalgo', 702, '3', 'olive'],
       ['Hidalgo', 'Juárez', 251, '3', 'olive'],
       ['Juárez', 'Balderas', 659, '3', 'olive'],
       ['Balderas', 'Niños Héroes', 665, '3', 'olive'],
       ['Niños Héroes', 'Hospital General', 559, '3', 'olive'],
       ['Hospital General', 'Centro Médico', 653, '3', 'olive'],
       ['Centro Médico', 'Etiopía/Plaza de la Transparencia', 1119, '3',
        'olive'],
       ['Etiopía/Plaza de la Transparencia', 'Eugenia', 950, '3',
        'olive'],
       ['Eugenia', 'División del norte', 715, '3', 'olive'],
       ['División del Norte', 'Zapata', 794, '3', 'olive'],
       ['Zapata', 'Coyoacán', 1153, '3', 'olive'],
       ['Coyoacán', 'Viveros/Derechos Humanos', 908, '3', 'olive'],
       ['Viveros/Derechos Humanos', 'Miguel Ángel de Quevedo', 824, '3',
        'olive'],
       ['Miguel Ángel de Quevedo', 'Copilco', 1295, '3', 'olive'],
       ['Copilco', 'Universidad', 1306, '3', 'olive'],
       ['Santa Anita', 'Jamaica', 758, '4', 'darkturquoise'],
       ['Jamaica', 'Fray Servando', 1033, '4', 'darkturquoise'],
       ['Fray Servando', 'Candelaria', 633, '4', 'darkturquoise'],
       ['Candelaria', 'Morelos', 1062, '4', 'darkturquoise'],
       ['Morelos', 'Canal del Norte', 910, '4', 'darkturquoise'],
       ['Canal del Norte', 'Consulado', 884, '4', 'darkturquoise'],
       ['Consulado', 'Bondojito', 645, '4', 'darkturquoise'],
       ['Bondojito', 'Talismán', 959, '4', 'darkturquoise'],
       ['Talismán', 'Martín Carrera', 1129, '4', 'darkturquoise'],
       ['Politécnico', 'Instituto del Petróleo', 1188, '5', 'gold'],
       ['Instituto del Petróleo', 'Autobuses del Norte', 1067, '5',
        'gold'],
       ['Autobuses del Norte', 'La Raza', 975, '5', 'gold'],
       ['La Raza', 'Misterios', 892, '5', 'gold'],
       ['Misterios', 'Valle Gómez', 969, '5', 'gold'],
       ['Valle Gómez', 'Consulado', 679, '5', 'gold'],
       ['Consulado', 'Eduardo Molina', 815, '5', 'gold'],
       ['Eduardo Molina', 'Aragón', 860, '5', 'gold'],
       ['Aragón', 'Oceanía', 1219, '5', 'gold'],
       ['Oceanía', 'Terminal Aérea', 1174, '5', 'gold'],
       ['Terminal Aérea', 'Hangares', 1153, '5', 'gold'],
       ['Hangares', 'Pantitlán', 1644, '5', 'gold'],
       ['El Rosario', 'Tezozómoc', 1257, '6', 'crimson'],
       ['Tezozómoc', 'Azcapotzalco', 973, '6', 'crimson'],
       ['Azcapotzalco', 'Ferrería', 1173, '6', 'crimson'],
       ['Ferrería', 'Norte 45', 1072, '6', 'crimson'],
       ['Norte 45', 'Vallejo', 660, '6', 'crimson'],
       ['Vallejo', 'Instituto del Petróleo', 755, '6', 'crimson'],
       ['Instituto del Petróleo', 'Lindavista', 1258, '6', 'crimson'],
       ['Lindavista', 'Deportivo 18 de Marzo', 1075, '6', 'crimson'],
       ['Deportivo 18 de Marzo', 'La Villa - Basílica', 570, '6',
        'crimson'],
       ['La Villa - Basílica', 'Martín Carrera', 1141, '6', 'crimson'],
       ['El Rosario', 'Aquíles Serdán', 1615, '7', 'coral'],
       ['Aquíles Serdán', 'Camarones', 1402, '7', 'coral'],
       ['Camarones', 'Refinería', 952, '7', 'coral'],
       ['Refinería', 'Tacuba', 1295, '7', 'coral'],
       ['Tacuba', 'San Joaquín', 1433, '7', 'coral'],
       ['San Joaquín', 'Polanco', 1163, '7', 'coral'],
       ['Polanco', 'Auditorio', 812, '7', 'coral'],
       ['Auditorio', 'Constituyentes', 1430, '7', 'coral'],
       ['Constituyentes', 'Tacubaya', 1005, '7', 'coral'],
       ['Tacubaya', 'San Pedro de los Pinos', 1084, '7', 'coral'],
       ['San Pedro de los Pinos', 'San Antonio', 606, '7', 'coral'],
       ['San Antonio', 'Mixcoac', 788, '7', 'coral'],
       ['Mixcoac', 'Barranca del Muerto', 1476, '7', 'coral'],
       ['Garibaldi', 'Bellas Artes', 634, '8', 'seagreen'],
       ['Bellas Artes', 'San Juan de Letrán', 456, '8', 'seagreen'],
       ['San Juan de Letrán', 'Salto del Agua', 292, '8', 'seagreen'],
       ['Salto del Agua', 'Doctores', 564, '8', 'seagreen'],
       ['Doctores', 'Obrera', 761, '8', 'seagreen'],
       ['Obrera', 'Chabacano', 1143, '8', 'seagreen'],
       ['Chabacano', 'La Viga', 843, '8', 'seagreen'],
       ['La Viga', 'Santa Anita', 633, '8', 'seagreen'],
       ['Santa Anita', 'Coyuya', 968, '8', 'seagreen'],
       ['Coyuya', 'Iztacalco', 993, '8', 'seagreen'],
       ['Iztacalco', 'Apatlaco', 910, '8', 'seagreen'],
       ['Apatlaco', 'Aculco', 534, '8', 'seagreen'],
       ['Aculco', 'Escuadrón 201', 789, '8', 'seagreen'],
       ['Escuadrón 201', 'Atlalilco', 1738, '8', 'seagreen'],
       ['Atlalilco', 'Iztapalapa', 732, '8', 'seagreen'],
       ['Iztapalapa', 'Cerro de la Estrella', 717, '8', 'seagreen'],
       ['Cerro de la Estrella', 'UAM I', 1135, '8', 'seagreen'],
       ['UAM I', 'Constitución de 1917', 1137, '8', 'seagreen'],
       ['Pantitlán', 'Puebla', 1380, '9', 'saddlebrown'],
       ['Puebla', 'Ciudad Deportiva', 800, '9', 'saddlebrown'],
       ['Ciudad Deportiva', 'Velódromo', 1110, '9', 'saddlebrown'],
       ['Velódromo', 'Mixiuhca', 821, '9', 'saddlebrown'],
       ['Mixiuhca', 'Jamaica', 942, '9', 'saddlebrown'],
       ['Jamaica', 'Chabacano', 1031, '9', 'saddlebrown'],
       ['Chabacano', 'Lázaro Cardenas', 1000, '9', 'saddlebrown'],
       ['Lázaro Cardenas', 'Centro Médico', 1059, '9', 'saddlebrown'],
       ['Centro Médico', 'Chilpancingo', 1152, '9', 'saddlebrown'],
       ['Chilpancingo', 'Patriotismo', 955, '9', 'saddlebrown'],
       ['Patriotismo', 'Tacubaya', 1133, '9', 'saddlebrown'],
       ['Pantitlán', 'Agrícola Oriental', 1409, 'A', 'darkviolet'],
       ['Agrícola Oriental', 'Canal de San Juan', 1093, 'A',
        'darkviolet'],
       ['Canal de San Juan', 'Tepalcates', 1456, 'A', 'darkviolet'],
       ['Tepalcates', 'Guelatao', 1161, 'A', 'darkviolet'],
       ['Guelatao', 'Peñón Viejo', 2206, 'A', 'darkviolet'],
       ['Peñón Viejo', 'Acatitla', 1379, 'A', 'darkviolet'],
       ['Acatitla', 'Santa Marta', 1100, 'A', 'darkviolet'],
       ['Santa Marta', 'Los Reyes', 1783, 'A', 'darkviolet'],
       ['Los Reyes', 'La Paz', 1956, 'A', 'darkviolet'],
       ['Ciudad Azteca', 'Plaza Aragón', 574, 'B', 'darkgray'],
       ['Plaza Aragón', 'Olímpica', 709, 'B', 'darkgray'],
       ['Olímpica', 'Ecatepec', 596, 'B', 'darkgray'],
       ['Ecatepec', 'Múzquiz', 1485, 'B', 'darkgray'],
       ['Múzquiz', 'Río de los Remedios', 1155, 'B', 'darkgray'],
       ['Río de los Remedios', 'Impulsora', 436, 'B', 'darkgray'],
       ['Impulsora', 'Nezahualcóyotl', 1393, 'B', 'darkgray'],
       ['Nezahualcóyotl', 'Villa de Aragón', 1335, 'B', 'darkgray'],
       ['Villa de Aragón', 'Bosques de Aragón', 784, 'B', 'darkgray'],
       ['Bosques de Aragón', 'Deportivo Oceanía', 1165, 'B', 'darkgray'],
       ['Deportivo Oceanía', 'Oceanía', 863, 'B', 'darkgray'],
       ['Oceanía', 'Romero Rubio', 809, 'B', 'darkgray'],
       ['Romero Rubio', 'Ricardo Flores Magón', 908, 'B', 'darkgray'],
       ['Ricardo Flores Magón', 'San Lázaro', 907, 'B', 'darkgray'],
       ['San Lázaro', 'Morelos', 1296, 'B', 'darkgray'],
       ['Morelos', 'Tepito', 498, 'B', 'darkgray'],
       ['Tepito', 'Lagunilla', 611, 'B', 'darkgray'],
       ['Lagunilla', 'Garibaldi', 474, 'B', 'darkgray'],
       ['Garibaldi', 'Guerrero', 757, 'B', 'darkgray'],
       ['Guerrero', 'Buenavista', 521, 'B', 'darkgray'],
       ['Tláhuac', 'Tlaltenco', 1298, '12', 'goldenrod'],
       ['Tlaltenco', 'Zapotitlán', 1115, '12', 'goldenrod'],
       ['Zapotitlán', 'Nopalera', 1276, '12', 'goldenrod'],
       ['Nopalera', 'Olivos', 1360, '12', 'goldenrod'],
       ['Olivos', 'Tezonco', 490, '12', 'goldenrod'],
       ['Tezonco', 'Periférico Oriente', 1545, '12', 'goldenrod'],
       ['Periférico Oriente', 'Calle 11', 1111, '12', 'goldenrod'],
       ['Calle 11', 'Lomas Estrella', 906, '12', 'goldenrod'],
       ['Lomas Estrella', 'San Andrés Tomatlán', 1060, '12', 'goldenrod'],
       ['San Andrés Tomatlán', 'Culhuacán', 990, '12', 'goldenrod'],
       ['Culhuacán', 'Atlalilco', 1671, '12', 'goldenrod'],
       ['Atlalilco', 'Mexicaltzingo', 1922, '12', 'goldenrod'],
       ['Mexicaltzingo', 'Ermita', 1805, '12', 'goldenrod'],
       ['Ermita', 'Eje Central', 895, '12', 'goldenrod'],
       ['Eje Central', 'Parque de los Venados', 1280, '12', 'goldenrod'],
       ['Parque de los Venados', 'Zapata', 563, '12', 'goldenrod'],
       ['Zapata', 'Hospital 20 de Noviembre', 450, '12', 'goldenrod'],
       ['Hospital 20 de Noviembre', 'Insurgentes Sur', 725, '12',
        'goldenrod'],
       ['Insurgentes Sur', 'Mixcoac', 651, '12', 'goldenrod']],
      dtype=object)

In [17]:
df.head()

                    Desde                   Hasta  Distancia Linea Color
0               Pantitlán                Zaragoza       1320     1  pink
1                Zaragoza            Gómez Farías        762     1  pink
2            Gómez Farías  Boulevard Puerto Aéreo        611     1  pink
3  Boulevard Puerto Aéreo                Balbuena        595     1  pink
4                Balbuena               Moctezuma        703     1  pink

In [18]:
df.tail()

                        Desde                     Hasta  ...  Linea      Color
178               Eje Central     Parque de los Venados  ...     12  goldenrod
179     Parque de los Venados                    Zapata  ...     12  goldenrod
180                    Zapata  Hospital 20 de Noviembre  ...     12  goldenrod
181  Hospital 20 de Noviembre           Insurgentes Sur  ...     12  goldenrod
182           Insurgentes Sur                   Mixcoac  ...     12  goldenrod

[5 rows x 5 columns]

###Descripcion

In [92]:
df.describe()

            index    Distancia
count  183.000000   183.000000
mean    91.000000   942.360656
std     52.971691   357.523381
min      0.000000   251.000000
25%     45.500000   658.000000
50%     91.000000   908.000000
75%    136.500000  1154.000000
max    182.000000  2206.000000

In [88]:
df['Distancia'].std()

357.52338121282827

In [89]:
df['Distancia'].sum()

172452.0

In [90]:
df['Distancia'].mean()

942.360655737705

In [91]:
df['Distancia'].median()

908.0

###Mostrar columnas

In [19]:
df.columns

Index(['Desde', 'Hasta', 'Distancia', 'Linea', 'Color'], dtype='object')

In [47]:
df.columns[[0,1]]

Index(['Desde', 'Hasta'], dtype='object')

In [31]:
df[['Desde']]

                        Desde
0                   Pantitlán
1                    Zaragoza
2                Gómez Farías
3      Boulevard Puerto Aéreo
4                    Balbuena
..                        ...
178               Eje Central
179     Parque de los Venados
180                    Zapata
181  Hospital 20 de Noviembre
182           Insurgentes Sur

[183 rows x 1 columns]

In [30]:
df[['Desde','Hasta']]

                        Desde                     Hasta
0                   Pantitlán                  Zaragoza
1                    Zaragoza              Gómez Farías
2                Gómez Farías    Boulevard Puerto Aéreo
3      Boulevard Puerto Aéreo                  Balbuena
4                    Balbuena                 Moctezuma
..                        ...                       ...
178               Eje Central     Parque de los Venados
179     Parque de los Venados                    Zapata
180                    Zapata  Hospital 20 de Noviembre
181  Hospital 20 de Noviembre           Insurgentes Sur
182           Insurgentes Sur                   Mixcoac

[183 rows x 2 columns]

###Filtrar renglones

In [35]:
df[df['Linea']=='1']

                     Desde                   Hasta  Distancia Linea Color
0                Pantitlán                Zaragoza       1320     1  pink
1                 Zaragoza            Gómez Farías        762     1  pink
2             Gómez Farías  Boulevard Puerto Aéreo        611     1  pink
3   Boulevard Puerto Aéreo                Balbuena        595     1  pink
4                 Balbuena               Moctezuma        703     1  pink
5                Moctezuma              San Lázaro        478     1  pink
6               San Lázaro              Candelaria        866     1  pink
7               Candelaria                  Merced        698     1  pink
8                   Merced             Pino Suárez        745     1  pink
9              Pino Suárez      Isabel la Católica        382     1  pink
10      Isabel la Católica          Salto del Agua        445     1  pink
11          Salto del Agua                Balderas        458     1  pink
12                Balderas              Cuauhtémoc        409     1  pink
13              Cuauhtémoc             Insurgentes        793     1  pink
14             Insurgentes                 Sevilla        645     1  pink
15                 Sevilla             Chapultepec        501     1  pink
16             Chapultepec             Juanacatlán        973     1  pink
17             Juanacatlán                Tacubaya       1158     1  pink
18                Tacubaya            Observatorio       1262     1  pink

In [94]:
df[(df['Linea']=='1') & (df['Distancia']>1000)]

    index        Desde         Hasta  Distancia Linea Color
17     17  Juanacatlán      Tacubaya     1158.0     1  pink
18     18     Tacubaya  Observatorio     1262.0     1  pink

In [97]:
df[(df['Linea']=='1') & (df['Distancia']>1000)]['Distancia']

17    1158.0
18    1262.0
Name: Distancia, dtype: float64

In [98]:
df[(df['Linea']=='1') & (df['Distancia']>1000)]['Distancia'].sum()

2420.0

In [43]:
df.iloc[0]

Desde        Pantitlán
Hasta         Zaragoza
Distancia         1320
Linea                1
Color             pink
Name: 0, dtype: object

In [44]:
df.loc[0]

Desde        Pantitlán
Hasta         Zaragoza
Distancia         1320
Linea                1
Color             pink
Name: 0, dtype: object

In [51]:
df.loc[0:10]

                     Desde                   Hasta  Distancia Linea Color
0                Pantitlán                Zaragoza       1320     1  pink
1                 Zaragoza            Gómez Farías        762     1  pink
2             Gómez Farías  Boulevard Puerto Aéreo        611     1  pink
3   Boulevard Puerto Aéreo                Balbuena        595     1  pink
4                 Balbuena               Moctezuma        703     1  pink
5                Moctezuma              San Lázaro        478     1  pink
6               San Lázaro              Candelaria        866     1  pink
7               Candelaria                  Merced        698     1  pink
8                   Merced             Pino Suárez        745     1  pink
9              Pino Suárez      Isabel la Católica        382     1  pink
10      Isabel la Católica          Salto del Agua        445     1  pink

In [55]:
df.loc[[7,10,30]]

                 Desde           Hasta  Distancia Linea      Color
7           Candelaria          Merced        698     1       pink
10  Isabel la Católica  Salto del Agua        445     1       pink
30             Allende          Zócalo        602     2  royalblue

###Agregar renglones

In [64]:
df2=pd.DataFrame([['Vallejo','Price Shoes',300,'PS','blue']],columns=df.columns)
print(df2)
df=df.append(df2)
df.reset_index(inplace=True)
df

     Desde        Hasta  Distancia Linea Color
0  Vallejo  Price Shoes        300    PS  blue

     index                   Desde  ... Linea      Color
0        0               Pantitlán  ...     1       pink
1        1                Zaragoza  ...     1       pink
2        2            Gómez Farías  ...     1       pink
3        3  Boulevard Puerto Aéreo  ...     1       pink
4        4                Balbuena  ...     1       pink
..     ...                     ...  ...   ...        ...
182    182         Insurgentes Sur  ...    12  goldenrod
183      0                 Vallejo  ...    PS       blue
184      0                 Vallejo  ...    PS       blue
185      0                 Vallejo  ...    PS       blue
186      0                 Vallejo  ...    PS       blue

[187 rows x 6 columns]

###Borrar renglones

In [84]:
index_names=df[df['Linea']=='PS'].index
index_names

Int64Index([0], dtype='int64')

In [85]:
df.drop(index_names,inplace=True)
df[df['Linea']=='PS']

Empty DataFrame
Columns: [index, Desde, Hasta, Distancia, Linea, Color]
Index: []

###Limpieza de datos nulos

In [86]:
df2=pd.DataFrame([[0,None,'Price Shoes',None,'PS','blue']],columns=df.columns)
print(df2)
df=df.append(df2)
df

   index Desde        Hasta Distancia Linea Color
0      0  None  Price Shoes      None    PS  blue

     index                     Desde  ... Linea      Color
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
5        5                 Moctezuma  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                      None  ...    PS       blue

[183 rows x 6 columns]

In [73]:
df.dropna(inplace=True)
df

     index                     Desde  ... Linea      Color
0        0                 Pantitlán  ...     1       pink
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
..     ...                       ...  ...   ...        ...
178    178               Eje Central  ...    12  goldenrod
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod

[183 rows x 6 columns]

###Rellenar valores nulos con un valor por defecto

In [82]:
df2=pd.DataFrame([[0,'Vallejo','Price Shoes',None,'PS','blue']],columns=df.columns)
print(df2)
df=df.append(df2)
df

   index    Desde        Hasta Distancia Linea Color
0      0  Vallejo  Price Shoes      None    PS  blue

     index                     Desde  ... Linea      Color
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
5        5                 Moctezuma  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                   Vallejo  ...    PS       blue

[183 rows x 6 columns]

In [75]:
df.fillna(0,inplace=True)
df

     index                     Desde  ... Linea      Color
0        0                 Pantitlán  ...     1       pink
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                   Vallejo  ...    PS       blue

[184 rows x 6 columns]

In [76]:
df['Distancia'].fillna(0,inplace=True)
df

     index                     Desde  ... Linea      Color
0        0                 Pantitlán  ...     1       pink
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                   Vallejo  ...    PS       blue

[184 rows x 6 columns]

In [78]:
df['Distancia'].fillna(df['Distancia'].mean(),inplace=True)
df

     index                     Desde  ... Linea      Color
0        0                 Pantitlán  ...     1       pink
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
..     ...                       ...  ...   ...        ...
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                   Vallejo  ...    PS       blue
0        0                   Vallejo  ...    PS       blue

[185 rows x 6 columns]

In [83]:
df['Distancia'].fillna(df['Distancia'].median(),inplace=True)
df

     index                     Desde  ... Linea      Color
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
5        5                 Moctezuma  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                   Vallejo  ...    PS       blue

[183 rows x 6 columns]

In [87]:
df['Distancia'].fillna(df['Distancia'].mode(),inplace=True)
df

     index                     Desde  ... Linea      Color
1        1                  Zaragoza  ...     1       pink
2        2              Gómez Farías  ...     1       pink
3        3    Boulevard Puerto Aéreo  ...     1       pink
4        4                  Balbuena  ...     1       pink
5        5                 Moctezuma  ...     1       pink
..     ...                       ...  ...   ...        ...
179    179     Parque de los Venados  ...    12  goldenrod
180    180                    Zapata  ...    12  goldenrod
181    181  Hospital 20 de Noviembre  ...    12  goldenrod
182    182           Insurgentes Sur  ...    12  goldenrod
0        0                      None  ...    PS       blue

[183 rows x 6 columns]