<a href="https://colab.research.google.com/github/jcjimenezb123/ProgramacionPython/blob/master/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Crear un dataframe

In [1]:
import pandas as pd

###Desde un arreglo de numpy

In [2]:
import numpy as np

In [3]:
datos=np.array([[11,12],
               [21,22]])
df=pd.DataFrame(data=datos,
                columns=['Col1','Col2'])
df

   Col1  Col2
0    11    12
1    21    22

###Desde un diccionario

In [13]:
datos={'Products':['Computer','Monitor','Printer','Desk'],
       'Prices':[1500,300,150,250]}
df=pd.DataFrame(datos)
df

   Products  Prices
0  Computer    1500
1   Monitor     300
2   Printer     150
3      Desk     250

In [12]:
datos={'Products':['Computer','Monitor','Printer','Desk'],
       'Prices':[1500,300,150,250]}
df=pd.DataFrame(datos['Prices'],columns=['Prices'],index=datos['Products'])
df

          Prices
Computer    1500
Monitor      300
Printer      150
Desk         250

###Desde un archivo csv

In [3]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

iris = load_iris()

df= pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                 columns= iris['feature_names'] + ['target'])

df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df.to_csv('iris.csv',index=False)
df.to_excel('iris.xlsx',index=False)
df.to_json('iris.json')

datos=df.to_string()
archivo=open('iris.txt','w')
print(datos,file=archivo)
archivo.close()

In [6]:
import sqlite3
conn=sqlite3.connect('bdd.db')

#cursor = conn.cursor()
#cursor.execute("DROP TABLE iris")
#print("Table dropped... ")
#conn.commit()

df.to_sql('iris',conn,index=False)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
cursor = conn.cursor()
cursor.execute('Select * from iris')
rows = cursor.fetchall()

for row in rows:
    print(row)

In [66]:
df=pd.read_csv('iris.csv')
df

     sepal length (cm)  sepal width (cm)  ...  target    species
0                  5.1               3.5  ...     0.0     setosa
1                  4.9               3.0  ...     0.0     setosa
2                  4.7               3.2  ...     0.0     setosa
3                  4.6               3.1  ...     0.0     setosa
4                  5.0               3.6  ...     0.0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...     2.0  virginica
146                6.3               2.5  ...     2.0  virginica
147                6.5               3.0  ...     2.0  virginica
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[150 rows x 6 columns]

###Desde un archivo Excel

In [52]:
df=pd.read_excel('iris.xlsx') #sheet_name=
df

     sepal length (cm)  sepal width (cm)  ...  target    species
0                  5.1               3.5  ...       0     setosa
1                  4.9               3.0  ...       0     setosa
2                  4.7               3.2  ...       0     setosa
3                  4.6               3.1  ...       0     setosa
4                  5.0               3.6  ...       0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...       2  virginica
146                6.3               2.5  ...       2  virginica
147                6.5               3.0  ...       2  virginica
148                6.2               3.4  ...       2  virginica
149                5.9               3.0  ...       2  virginica

[150 rows x 6 columns]

###Desde una base de datos

In [36]:
import sqlite3
conn=sqlite3.connect('bdd.db')

In [10]:
df=pd.read_sql('Select * from iris',conn)
df

     sepal length (cm)  sepal width (cm)  ...  target    species
0                  5.1               3.5  ...     0.0     setosa
1                  4.9               3.0  ...     0.0     setosa
2                  4.7               3.2  ...     0.0     setosa
3                  4.6               3.1  ...     0.0     setosa
4                  5.0               3.6  ...     0.0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...     2.0  virginica
146                6.3               2.5  ...     2.0  virginica
147                6.5               3.0  ...     2.0  virginica
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[150 rows x 6 columns]

##Desplegar informacion de un dataframe

###Dimension

In [11]:
df.shape

(150, 6)

In [18]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target', 'species'],
      dtype='object')

In [21]:
print(df.size)
print(150*6)

900
900

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    float64
 5   species            150 non-null    object
dtypes: float64(5), object(1)
memory usage: 7.2+ KB

In [ ]:
df.values

In [23]:
df.head()

   sepal length (cm)  sepal width (cm)  ...  target  species
0                5.1               3.5  ...     0.0   setosa
1                4.9               3.0  ...     0.0   setosa
2                4.7               3.2  ...     0.0   setosa
3                4.6               3.1  ...     0.0   setosa
4                5.0               3.6  ...     0.0   setosa

[5 rows x 6 columns]

In [24]:
df.tail()

     sepal length (cm)  sepal width (cm)  ...  target    species
145                6.7               3.0  ...     2.0  virginica
146                6.3               2.5  ...     2.0  virginica
147                6.5               3.0  ...     2.0  virginica
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[5 rows x 6 columns]

###Descripcion

In [16]:
df.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)      target
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

In [19]:
df['sepal length (cm)'].std()

0.8280661279778629

In [26]:
df['sepal length (cm)'].sum()

876.5

In [34]:
df.iloc[:,0].mode()

0    5.0
dtype: float64

In [30]:
df.iloc[:,0].mean()

5.843333333333335

In [36]:
df.iloc[:].var()

sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
target               0.671141
dtype: float64

###Mostrar columnas

In [37]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target', 'species'],
      dtype='object')

In [38]:
df.columns[[0,1]]

Index(['sepal length (cm)', 'sepal width (cm)'], dtype='object')

In [39]:
df[['sepal length (cm)', 'sepal width (cm)']]

     sepal length (cm)  sepal width (cm)
0                  5.1               3.5
1                  4.9               3.0
2                  4.7               3.2
3                  4.6               3.1
4                  5.0               3.6
..                 ...               ...
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0
148                6.2               3.4
149                5.9               3.0

[150 rows x 2 columns]

###Filtrar renglones

In [9]:
df.species.value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [40]:
df[df['species']=='setosa']

    sepal length (cm)  sepal width (cm)  ...  target  species
0                 5.1               3.5  ...     0.0   setosa
1                 4.9               3.0  ...     0.0   setosa
2                 4.7               3.2  ...     0.0   setosa
3                 4.6               3.1  ...     0.0   setosa
4                 5.0               3.6  ...     0.0   setosa
5                 5.4               3.9  ...     0.0   setosa
6                 4.6               3.4  ...     0.0   setosa
7                 5.0               3.4  ...     0.0   setosa
8                 4.4               2.9  ...     0.0   setosa
9                 4.9               3.1  ...     0.0   setosa
10                5.4               3.7  ...     0.0   setosa
11                4.8               3.4  ...     0.0   setosa
12                4.8               3.0  ...     0.0   setosa
13                4.3               3.0  ...     0.0   setosa
14                5.8               4.0  ...     0.0   setosa
15                5.7               4.4  ...     0.0   setosa
16                5.4               3.9  ...     0.0   setosa
17                5.1               3.5  ...     0.0   setosa
18                5.7               3.8  ...     0.0   setosa
19                5.1               3.8  ...     0.0   setosa
20                5.4               3.4  ...     0.0   setosa
21                5.1               3.7  ...     0.0   setosa
22                4.6               3.6  ...     0.0   setosa
23                5.1               3.3  ...     0.0   setosa
24                4.8               3.4  ...     0.0   setosa
25                5.0               3.0  ...     0.0   setosa
26                5.0               3.4  ...     0.0   setosa
27                5.2               3.5  ...     0.0   setosa
28                5.2               3.4  ...     0.0   setosa
29                4.7               3.2  ...     0.0   setosa
30                4.8               3.1  ...     0.0   setosa
31                5.4               3.4  ...     0.0   setosa
32                5.2               4.1  ...     0.0   setosa
33                5.5               4.2  ...     0.0   setosa
34                4.9               3.1  ...     0.0   setosa
35                5.0               3.2  ...     0.0   setosa
36                5.5               3.5  ...     0.0   setosa
37                4.9               3.6  ...     0.0   setosa
38                4.4               3.0  ...     0.0   setosa
39                5.1               3.4  ...     0.0   setosa
40                5.0               3.5  ...     0.0   setosa
41                4.5               2.3  ...     0.0   setosa
42                4.4               3.2  ...     0.0   setosa
43                5.0               3.5  ...     0.0   setosa
44                5.1               3.8  ...     0.0   setosa
45                4.8               3.0  ...     0.0   setosa
46                5.1               3.8  ...     0.0   setosa
47                4.6               3.2  ...     0.0   setosa
48                5.3               3.7  ...     0.0   setosa
49                5.0               3.3  ...     0.0   setosa

[50 rows x 6 columns]

In [41]:
df[(df['species']=='setosa') & (df['sepal length (cm)']>5)]

    sepal length (cm)  sepal width (cm)  ...  target  species
0                 5.1               3.5  ...     0.0   setosa
5                 5.4               3.9  ...     0.0   setosa
10                5.4               3.7  ...     0.0   setosa
14                5.8               4.0  ...     0.0   setosa
15                5.7               4.4  ...     0.0   setosa
16                5.4               3.9  ...     0.0   setosa
17                5.1               3.5  ...     0.0   setosa
18                5.7               3.8  ...     0.0   setosa
19                5.1               3.8  ...     0.0   setosa
20                5.4               3.4  ...     0.0   setosa
21                5.1               3.7  ...     0.0   setosa
23                5.1               3.3  ...     0.0   setosa
27                5.2               3.5  ...     0.0   setosa
28                5.2               3.4  ...     0.0   setosa
31                5.4               3.4  ...     0.0   setosa
32                5.2               4.1  ...     0.0   setosa
33                5.5               4.2  ...     0.0   setosa
36                5.5               3.5  ...     0.0   setosa
39                5.1               3.4  ...     0.0   setosa
44                5.1               3.8  ...     0.0   setosa
46                5.1               3.8  ...     0.0   setosa
48                5.3               3.7  ...     0.0   setosa

[22 rows x 6 columns]

In [ ]:
df[(df['species']=='setosa') & (df['sepal length (cm)']>5)]['sepal length (cm)']

In [ ]:
df[(df['Linea']=='1') & (df['Distancia']>1000)]['Distancia'].sum()

2420.0

In [43]:
df.iloc[0]

sepal length (cm)       5.1
sepal width (cm)        3.5
petal length (cm)       1.4
petal width (cm)        0.2
target                    0
species              setosa
Name: 0, dtype: object

In [44]:
df.loc[0]

sepal length (cm)       5.1
sepal width (cm)        3.5
petal length (cm)       1.4
petal width (cm)        0.2
target                    0
species              setosa
Name: 0, dtype: object

In [47]:
df.iloc[0:10,1:3]

   sepal width (cm)  petal length (cm)
0               3.5                1.4
1               3.0                1.4
2               3.2                1.3
3               3.1                1.5
4               3.6                1.4
5               3.9                1.7
6               3.4                1.4
7               3.4                1.5
8               2.9                1.4
9               3.1                1.5

In [48]:
df.loc[[7,10,30]]

    sepal length (cm)  sepal width (cm)  ...  target  species
7                 5.0               3.4  ...     0.0   setosa
10                5.4               3.7  ...     0.0   setosa
30                4.8               3.1  ...     0.0   setosa

[3 rows x 6 columns]

###Agregar renglones

In [63]:
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target', 'species'],
      dtype='object')

In [87]:
df=pd.read_csv('iris.csv')
df.tail(2)

     sepal length (cm)  sepal width (cm)  ...  target    species
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[2 rows x 6 columns]

In [88]:
df2=pd.DataFrame([[1,2,3,4,0.0,'otra']],columns=df.columns)
df2

   sepal length (cm)  sepal width (cm)  ...  target  species
0                  1                 2  ...     0.0     otra

[1 rows x 6 columns]

In [95]:
df=df.append(df2,ignore_index=True)
df.tail()

     sepal length (cm)  sepal width (cm)  ...  target    species
149                5.9               3.0  ...     2.0  virginica
150                1.0               2.0  ...     0.0       otra
151                1.0               2.0  ...     0.0       otra
152                1.0               2.0  ...     0.0       otra
153                1.0               2.0  ...     0.0       otra

[5 rows x 6 columns]

###Borrar renglones

In [96]:
index_names=df[df['species']=='otra'].index
index_names

Int64Index([150, 151, 152, 153], dtype='int64')

In [97]:
df.drop(index_names,inplace=True)
df[df['species']=='otra']

Empty DataFrame
Columns: [sepal length (cm), sepal width (cm), petal length (cm), petal width (cm), target, species]
Index: []

###Limpieza de datos nulos

In [98]:
df.loc[0:3,'species']=np.nan
df

     sepal length (cm)  sepal width (cm)  ...  target    species
0                  5.1               3.5  ...     0.0        NaN
1                  4.9               3.0  ...     0.0        NaN
2                  4.7               3.2  ...     0.0        NaN
3                  4.6               3.1  ...     0.0        NaN
4                  5.0               3.6  ...     0.0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...     2.0  virginica
146                6.3               2.5  ...     2.0  virginica
147                6.5               3.0  ...     2.0  virginica
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[150 rows x 6 columns]

In [99]:
df.dropna(inplace=True)
df

     sepal length (cm)  sepal width (cm)  ...  target    species
4                  5.0               3.6  ...     0.0     setosa
5                  5.4               3.9  ...     0.0     setosa
6                  4.6               3.4  ...     0.0     setosa
7                  5.0               3.4  ...     0.0     setosa
8                  4.4               2.9  ...     0.0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...     2.0  virginica
146                6.3               2.5  ...     2.0  virginica
147                6.5               3.0  ...     2.0  virginica
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[146 rows x 6 columns]

###Rellenar valores nulos con un valor por defecto

In [111]:
df.loc[4:6,'petal width (cm)']=np.nan
df.loc[6:8,'petal length (cm)']=np.nan
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  147 non-null    float64
 3   petal width (cm)   147 non-null    float64
 4   target             150 non-null    float64
 5   species            150 non-null    category
dtypes: category(1), float64(5)
memory usage: 6.2 KB

In [103]:
df.fillna(0,inplace=True)
df

     sepal length (cm)  sepal width (cm)  ...  target    species
4                  5.0               3.6  ...     0.0     setosa
5                  5.4               3.9  ...     0.0     setosa
6                  4.6               3.4  ...     0.0     setosa
7                  5.0               3.4  ...     0.0     setosa
8                  4.4               2.9  ...     0.0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...     2.0  virginica
146                6.3               2.5  ...     2.0  virginica
147                6.5               3.0  ...     2.0  virginica
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[146 rows x 6 columns]

In [104]:
df.loc[4:6,'petal width (cm)']=np.nan
df.loc[6:8,'petal length (cm)']=np.nan

df['petal width (cm)'].fillna(0,inplace=True)
df['petal length (cm)'].fillna(1,inplace=True)
df

     sepal length (cm)  sepal width (cm)  ...  target    species
4                  5.0               3.6  ...     0.0     setosa
5                  5.4               3.9  ...     0.0     setosa
6                  4.6               3.4  ...     0.0     setosa
7                  5.0               3.4  ...     0.0     setosa
8                  4.4               2.9  ...     0.0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...     2.0  virginica
146                6.3               2.5  ...     2.0  virginica
147                6.5               3.0  ...     2.0  virginica
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[146 rows x 6 columns]

In [105]:
df.loc[4:6,'petal width (cm)']=np.nan
df.loc[6:8,'petal length (cm)']=np.nan

df['petal width (cm)'].fillna(df['petal width (cm)'].mean(),inplace=True)
df['petal length (cm)'].fillna(df['petal length (cm)'].median(),inplace=True)
df

     sepal length (cm)  sepal width (cm)  ...  target    species
4                  5.0               3.6  ...     0.0     setosa
5                  5.4               3.9  ...     0.0     setosa
6                  4.6               3.4  ...     0.0     setosa
7                  5.0               3.4  ...     0.0     setosa
8                  4.4               2.9  ...     0.0     setosa
..                 ...               ...  ...     ...        ...
145                6.7               3.0  ...     2.0  virginica
146                6.3               2.5  ...     2.0  virginica
147                6.5               3.0  ...     2.0  virginica
148                6.2               3.4  ...     2.0  virginica
149                5.9               3.0  ...     2.0  virginica

[146 rows x 6 columns]

In [21]:
df.loc[4:6,'petal width (cm)']=np.nan
df.loc[6:8,'petal length (cm)']=np.nan

df['petal width (cm)'].interpolate(method='quadratic', limit_direction='forward',inplace=True)
df['petal length (cm)'].interpolate(method='nearest', limit_direction='forward',inplace=True)

df.loc[3:9]

   sepal length (cm)  sepal width (cm)  ...  target  species
3                4.6               3.1  ...     0.0   setosa
4                5.0               3.6  ...     0.0   setosa
5                5.4               3.9  ...     0.0   setosa
6                4.6               3.4  ...     0.0   setosa
7                5.0               3.4  ...     0.0   setosa
8                4.4               2.9  ...     0.0   setosa
9                4.9               3.1  ...     0.0   setosa

[7 rows x 6 columns]