<a href="https://colab.research.google.com/github/jcjimenezb123/ProgramacionPython/blob/master/LambdaMapFilterReduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Funciones Lambda

In [ ]:
def f(x):
  return 2*x

In [ ]:
lf=lambda x:2*x

In [ ]:
print(lf(5))

10

In [ ]:
print(f(5))

10

In [ ]:
def f2(x,y):
  return x+y

In [ ]:
lf2=lambda x,y:x+y

In [ ]:
print(f2(1,2),lf2(1,2))

3 3

##Map
list[a,b,c]
Function f() --> map --> list [f(a),f(b),f(c)]

In [ ]:
def cuadrado(lista1):
  lista2=[]
  for num in lista1:
    lista2.append(num**2)
  return lista2

In [ ]:
n=[1,2,3,4]
print(cuadrado(n))

[1, 4, 9, 16]

In [ ]:
def cuadrado2(x):
  return x**2
print(list(map(cuadrado2,n)))

[1, 4, 9, 16]

In [ ]:
print(list(map(lambda x:x**2,n)))

[1, 4, 9, 16]

In [ ]:
print([x**2 for x in n])

[1, 4, 9, 16]

##Filter

List [x,y,z] condicion c() -->filter--> list[x,z]

In [ ]:
def mayor2(lista1):
  lista2=[]
  for num in lista1:
    if num>2:
      lista2.append(num)
  return lista2

In [ ]:
n=[4,3,2,1]
print(mayor2(n))

[4, 3]

In [ ]:
print(list(filter(lambda x:x>2,n)))

[4, 3]

In [ ]:
print([x for x in n if x>2])

[4, 3]

##reduce
 list[x,y,z] function f()-->reduce-->f(f(x,y),z)

In [ ]:
def mult(lista1):
  p=lista1[0]
  for i in range(1,len(lista1)):
    p*=lista1[i]
  return p

In [ ]:
print(mult([4,3,2,1]))

24

In [ ]:
from functools import reduce
n=[4,3,2,1]
print(reduce(lambda x,y:x*y,n))

24

filtrar los elementos mayor o igual a 4 y aplicar el cuadrado a cada uno

In [ ]:
c=map(lambda x:x**2,filter(lambda x:(x>=4),[1,2,3,4,5]))
print(list(c))

[16, 25]

aplicar el cuadrado a cada elemento y filtrar aquellos donde su cuadrado sea mayor a 5

In [2]:
c=filter(lambda x:x>5,map(lambda x:x**2,[1,2,3,4,5]))
print(list(c))

[9, 16, 25]