<a href="https://colab.research.google.com/github/jcjimenezb123/ProgramacionPython/blob/master/MHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
!pip install tradingeconomics

Requirement already satisfied: tradingeconomics in /usr/local/lib/python3.7/dist-packages (0.2.981)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.7/dist-packages (from tradingeconomics) (1.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from tradingeconomics) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->tradingeconomics) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->tradingeconomics) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->tradingeconomics) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->tradingeconomics) (1.15.0)

In [68]:
import pandas as pd

In [77]:
import tradingeconomics as te
te.login('guest:guest')
df=pd.DataFrame(
    te.getHistoricalData(country='Mexico', 
                         indicator='GDP', 
                         initDate='2010-01-01')
    )
#te.getHistoricalData((country='Mexico',indicator='Imports', 
#                         initDate='2010-01-01')

In [78]:
df.head(10)

                  0
2011-12-31  1180.49
2012-12-31  1201.09
2013-12-31  1274.44
2014-12-31  1315.35
2015-12-31  1171.87
2016-12-31  1078.49
2017-12-31  1158.91
2018-12-31  1222.35
2019-12-31  1268.87
2020-12-31  1076.16

In [71]:
df.to_excel('CALCULOS PLANEACIÃ“N 2022.xlsx',
            sheet_name='PIB',
            startrow=3,startcol=2)

In [72]:
# import necessary libraries
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [73]:
scope=['https://www.googleapis.com/auth/spreadsheets',
       'https://www.googleapis.com/auth/drive.file',
       'https://www.googleapis.com/auth/drive']
       
creds=ServiceAccountCredentials.from_json_keyfile_name('credentials.json',scope)
client=gspread.authorize(creds)

sheet=client.open('GSS1').worksheet('MisDatos')

#sheet.update_cell(10,1,'Hola Mundo!!')

In [74]:
from gspread_dataframe import set_with_dataframe

In [ ]:
# APPEND DATA TO SHEET
set_with_dataframe(datos, df)

In [95]:
def pandas_to_sheets(pandas_df, sheet, clear = True):
    # Updates all values in a workbook to match a pandas dataframe
    if clear:
        sheet.clear()
    (row, col) = pandas_df.shape
    for i in range(row):
      print(pandas_df.index[i])
      sheet.update_cell(i+1,1,str(pandas_df.index[i]))
      for j in range(col):
        sheet.update_cell(i+1,j+2,pandas_df.iloc[i, j])

In [96]:
pandas_to_sheets(df, sheet)

2011-12-31 00:00:00
2012-12-31 00:00:00
2013-12-31 00:00:00
2014-12-31 00:00:00
2015-12-31 00:00:00
2016-12-31 00:00:00
2017-12-31 00:00:00
2018-12-31 00:00:00
2019-12-31 00:00:00
2020-12-31 00:00:00