<a href="https://colab.research.google.com/github/jcjimenezb123/ProgramacionPython/blob/master/MHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install tradingeconomics

Collecting tradingeconomics
  Downloading https://files.pythonhosted.org/packages/60/4c/cdec55f769f077e1b97c737b660cc34d6da12fc86c4a09916672e2a1ad11/tradingeconomics-0.2.981-py3-none-any.whl (40kB)
     |████████████████████████████████| 40kB 3.3MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from tradingeconomics) (1.1.5)
Collecting websocket-client
  Downloading https://files.pythonhosted.org/packages/ca/5f/3c211d168b2e9f9342cfb53bcfc26aab0eac63b998015e7af7bcae66119d/websocket_client-1.1.0-py2.py3-none-any.whl (68kB)
     |████████████████████████████████| 71kB 3.7MB/s
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->tradingeconomics) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->tradingeconomics) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->tradingeconomics) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->tradingeconomics) (1.15.0)
Installing collected packages: websocket-client, tradingeconomics
Successfully installed tradingeconomics-0.2.981 websocket-client-1.1.0

In [12]:
import pandas as pd

df=pd.DataFrame()

In [34]:
import tradingeconomics as te
te.login('guest:guest')
df=pd.DataFrame(
    te.getHistoricalData(country='Mexico', 
                         indicator='GDP', 
                         initDate='2010-01-01')
    )
#te.getHistoricalData((country='Mexico',indicator='Imports', 
#                         initDate='2010-01-01')

In [35]:
df.head(10)

                  0
2011-12-31  1180.49
2012-12-31  1201.09
2013-12-31  1274.44
2014-12-31  1315.35
2015-12-31  1171.87
2016-12-31  1078.49
2017-12-31  1158.91
2018-12-31  1222.35
2019-12-31  1268.87
2020-12-31  1076.16

In [36]:
df.to_excel('CALCULOS PLANEACIÓN 2022.xlsx',
            sheet_name='PIB',
            startrow=3,startcol=2)